@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>
@*https://www.twilio.com/docs/iam/connect/quickstart/csharp#creating-your-first-twilio-connect-app*@
@*TODO: ADD AUTHORIZATION TO THE CLIENT APP*@
@*TODO: ADD AUTHORIZE COMPONENT VIEW FOR THE TWILIO CONNECT BUTTON*@
<div class="main">
    <div class="top-row px-4">
        <a href="https://www.twilio.com/authorize/CN18bf37360739c96f80e8fdc5f3d6f7ad" class="btn btn-primary twilio-connect-button" role="button" aria-disabled="false"></a>
        <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
